.grid {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: none;
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .col-3-4 {
        grid-column: span 3;
    }

    .col-2-4 {
        grid-column: span 2;
    }
}

.top-bar-box {
    display: grid;
    gap: 8px;
}

.overview-actions,
.company-name,
header,
.submit-form .form-area,
.top-bar-box-meta,
.top-bar-box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    margin-bottom: 2rem;
}


.submit-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.submit-form .form-area,
.company-name,
.overview-actions {
    gap: 1rem
}

.date {
    color: var(--color-secondary)
}