<form class="input-group mb-3" (ngSubmit)="onSubmit()" [formGroup]="tickerForm">
  <input type="text" class="form-control" formControlName="ticker" />
  <button [disabled]="!tickerForm.valid" type="submit" class="btn btn-outline-secondary">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</form>

<div class="row">

  @if (summary) {
    <div class="col-md-6">
      <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Summary</h5>
          <pre>{{ summary | json }}</pre>
        </div>
      </div>
    </div>
  }
  
  @if (is_financials_chart_loaded) {
    <financials-chart />
  }

  @if (dividend) {
    <div class="col-md-6">
      <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Dividends</h5>
          <pre>{{ dividend | json }}</pre>
        </div>
      </div>
    </div>
  }

  @if (is_price_chart_loaded) {
    <price-chart />
  }
  
  @if (keyratios) {
    <div class="col-md-6">
      <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Keyratios</h5>
          <pre>{{ keyratios | json }}</pre>
        </div>
      </div>
    </div>
  }
</div>