<form class="input-group mb-3" (ngSubmit)="onSubmit()" [formGroup]="tickerForm">
  <input type="text" class="form-control" formControlName="ticker" />
  <button [disabled]="!tickerForm.valid" type="submit" class="btn btn-outline-secondary">Search</button>
</form>

<div class="row">
  <div *ngIf="summary" class="col-md-6">
    <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Summary</h5>
        <pre>{{ summary | json }}</pre>
      </div>
    </div>
  </div>
  <div *ngIf="financials" class="col-md-6">
    <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Financials</h5>
        <pre>{{ financials | json }}</pre>
      </div>
    </div>
  </div>
  <div *ngIf="dividend" class="col-md-6">
    <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Dividends</h5>
        <pre>{{ dividend | json }}</pre>
      </div>
    </div>
  </div>
  <div *ngIf="price" class="col-md-6">
    <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Price</h5>
        <pre>{{ price | json }}</pre>
      </div>
    </div>
  </div>
  <div *ngIf="keyratios" class="col-md-6">
    <div class="card mb-4 overflow-y-scroll" style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Keyratios</h5>
        <pre>{{ keyratios | json }}</pre>
      </div>
    </div>
  </div>
</div>