<form class="submit-form" (ngSubmit)="onSubmit()" [formGroup]="tickerForm">
  <div>
    <h3>Enter ticker:</h3>
    <div class="form-area">
      <input type="text" class="input lg accent" placeholder="Ticker" formControlName="ticker">
      <button class="btn lg blue" type="submit" [disabled]="!tickerForm.valid">
        Submit
      </button>
    </div>
  </div>
</form>

<div *ngIf="overview" class="mb-4">{{ overview | json }}</div>
<div *ngIf="cashflow" class="mb-4">{{ cashflow | json }}</div>
<div *ngIf="earnings" class="mb-4">{{ earnings | json }}</div>