<div class="dashboard-sidebar">
    <div class="logo">
        <img src="/assets/logo.svg" alt="">
        FinApp
    </div>


    <div class="nav-favorites">
        <div class="menu-title">Favorites</div>
        <nav>
            <a href="#">Overview</a>
            <a href="#">Projects</a>
        </nav>
    </div>
    <!-- <div class="menu-title">Recently</div>
    <nav>
        <a href="#">Overview</a>
        <a href="#">Projects</a>
    </nav> -->

    <div class="nav-main">
        <div class="menu-title">Main</div>
        <nav>
            <a href="#"><ng-icon name="iconoirHome"></ng-icon>Overview</a>
            <a href="#"><ng-icon name="iconoirPageSearch"></ng-icon>Reports</a>
            <a href="#"><ng-icon name="iconoirWallet"></ng-icon>Subscription</a>
        </nav>
    </div>

    <div>
        <nav>
            <a href="#"><ng-icon name="iconoirUser"></ng-icon>Profile</a>
        </nav>
    </div>
</div>