<div class="dashboard"
    [ngClass]="{'collapsed': !(mainSidebarCollapsed | async), 'notifications': (notificationSidebarVisible | async)}">
    <app-sidebar *ngIf="(mainSidebarCollapsed | async)"></app-sidebar>
    <div class="dashboard-container">
        <app-header></app-header>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-notifications-sidebar *ngIf="(notificationSidebarVisible | async)"></app-notifications-sidebar>
</div>