<div class="dashboard" [ngClass]="{'collapsed': !(mainSidebarCollapsed | async), 'notifications': (notificationSidebarVisible | async)}">
    <app-sidebar *ngIf="(mainSidebarCollapsed | async)"></app-sidebar>
     <div class="dashboard-container">
        <app-header></app-header>
         <!-- <p-button label="Submit" (click)="test_send()" size="small" severity="secondary"></p-button> -->
         <router-outlet></router-outlet>
    </div>
    <app-notifications-sidebar *ngIf="(notificationSidebarVisible | async)"></app-notifications-sidebar>
</div>


