.card {
    --_background: var(--background, var(--card-gray));
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--_background);
}

.card.blue {
    --background: var(--card-blue);
}