.notifications-sidebar {
    padding: 1.8rem 1.4rem;
    border-left: 1px solid var(--color-gray);
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
}

.section-title {
    margin-bottom: 1.5rem;
}

.list {
    display: grid;
    gap: 1.05rem;
}