<div class="dashboard-sidebar">
    <div class="logo">
        <img src="/assets/logo.svg" alt="">
        FinApp
    </div>

    <div class="nav-main">
        <nav>
            <a routerLink="">
                <ng-icon name="iconoirHome"></ng-icon>
                Overview
            </a>
            <a routerLink="reports">
                <ng-icon name="iconoirPageSearch"></ng-icon>
                Reports
            </a>
            <a routerLink="subscription">
                <ng-icon name="iconoirWallet"></ng-icon>
                Subscription
            </a>
        </nav>
    </div>

    <div>
        <nav>
            <a routerLink="profile">
                <ng-icon name="iconoirUser"></ng-icon>
                Profile
            </a>
        </nav>
    </div>
</div>