<aside class="d-flex flex-column justify-content-between h-100">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/app" routerLinkActive="active">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/app/reports" routerLinkActive="active">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/app/subscription" routerLinkActive="active">Subscription</a>
    </li>
  </ul>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
  </ul>
</aside>
