<nav class="navbar navbar-expand border-bottom mb-4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
      <div class="d-flex gap-2 align-items-center">
        <button class="btn btn-sm" (click)="toggleTheme()">
            <i *ngIf="(theme$ | async)" class="fa fa-sun-o" aria-hidden="true"></i>
            <i *ngIf="!(theme$ | async)" class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>